                /* MOBILE VIEW */
                /* Main Styles */

html, body, p, h1, h2, h3, h4, h5, h6, a, strong, em, 
nav, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #FFCB15;
  color: #fff;
}
nav {
  background: #ffafed;
  display: block;
  padding-bottom: 4vh;
  width: 100%;
  
}
img.logo{
  display: block;
  margin: 0 auto;
  padding: 3vh 0; 
  max-width: 200px;
  width: 50%;
}
.nav{
  padding: 0;
}
.nav li {
  text-align: center;
  display: block;
  list-style: none;
}
li a {
  color: #fff;
  text-decoration: none;
}
.grid {
  margin: 0 auto;
  width: 60vw;
}
.images {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}

.tote {
  margin-bottom: 5vh;
}

p {
  margin-bottom: 5vh;
}

          /* ABOUT STYLING*/
h1 {
  color: lightyellow;
  font-size: 3rem;
  padding-left: 2vw;
}
@media screen and (min-width: 900px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
  }
  .logo{ 
    max-width: 200px;
    margin-left: 2vw;
  }
  .nav {
    display: inline-block;
    text-align: right;
    font-size: 2rem;
    margin-right: 2vw;
  }
   .nav li {
    color: #fff;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0 .8vw;  
  }
  .nav:first-child {
    color: #d4d4d4;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vh;
    margin: 0 auto;
    width: 100vw;
  }
  .images {
    box-sizing: border-box;
    max-width: 400px;
    width: 100vw;
  }
  
  .images:hover {
    transform: scale(1.1);
  }
}