                /* MOBILE VIEW */

body {
  background: #FFCB15;
}

.logo{ 
  margin: 0 auto;
  max-width: 200px;
  width: 100vw;
}

h1 {
  color: lightyellow;
  font-size: 3rem;
  padding-left: 2vw;
}

.nav-grid {
  background: #d4d4d4;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav li {
  text-align: center;
  display: block;
  list-style: none;
}
.grid {
  margin: 0 auto;
  width: 60vw;
}
.images {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 200px;
  width: 100vw;
}

@media screen and (min-width: 900px) {
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .logo{ 
    max-width: 200px;
    margin-left: 2vw;
  }
  .nav {
    display: inline-block;
    text-align: right;
    font-size: 2rem;
    margin-right: 2vw;
  }
   .nav li {
    color: #fff;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0 .8vw;  
  }
  .nav:first-child {
    color: #d4d4d4;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vh;
    margin: 0 auto;
    width: 100vw;
  }
  .images {
    box-sizing: border-box;
    max-width: 400px;
    width: 100vw;
  }
  
  .images:hover {
    transform: scale(1.1);
  }
}